.announce_slider {
	position: relative;
	overflow: hidden;
	margin: 0 10px 35px 10px;
	z-index: 1;
}
	.announce_slider__canvas {
		width: 100%;
		overflow: hidden;
		font: 0/0 a;
		white-space: nowrap;
	}
	.announce_slider__item {
		width: 255px;
		display: inline-block;
		vertical-align: top;
		margin-right: -254px;
		white-space: normal;
	}
		.announce_slider__item:last-child {
			margin-right: 0;
		}
	@media only screen and (min-width: 621px) {
		.announce_slider {
			margin: 0 22px 32px 22px;
		}
		.announce_slider__item {
			width: 278px;
			margin-right: -278px;
		}
	}
	@media only screen and (min-width: 1024px) {
		.announce_slider__item {
			width: 229px;
			margin-right: -230px;
		}
	}
.announce_slider__nav {
	display: none;
}
@media only screen and (min-width: 621px) {
	.announce_slider__nav {
		display: block;
		position: absolute;
		top: 0;
		bottom: 0;
		width: 102px;
		padding-top: 8px;
		opacity: 1;
		visibility: visible;
		transition: opacity .25s ease-in-out 0s,
					visibility 0s ease-in-out 0s;
		will-change: opacity;
	}
	.announce_slider__prev {
		left: 0;
		background-image: -webkit-linear-gradient(left, rgba(255,255,255,.96), rgba(255,255,255,0));
		background-image: linear-gradient(to right, rgba(255,255,255,.96), rgba(255,255,255,0));
	}
	.announce_slider__next {
		right: 0;
		background-image: -webkit-linear-gradient(left, rgba(255,255,255,0), rgba(255,255,255,.96));
		background-image: linear-gradient(to right, rgba(255,255,255,0), rgba(255,255,255,.96));
		text-align: right;
	}
	/*
	.announce_slider__nav.slider-inactive {
		background-image: none;
		visibility: hidden;
		opacity: 0;
		transition: opacity .25s ease-in-out 0s,
					visibility 0s ease-in-out .25s;
	}
	*/
	.announce_slider__nav .slider-link {
		opacity: 1;
		visibility: visible;
		transition: opacity .25s ease-in-out 0s,
					visibility 0s ease-in-out 0s;
	}

	.announce_slider__nav.slider-inactive .slider-link {
		visibility: hidden;
		opacity: 0;
		transition: opacity .25s ease-in-out 0s,
					visibility 0s ease-in-out .25s;
	}
}
@media only screen and (min-width: 1024px) {
	.announce_slider {
		margin-bottom: 57px;
	}
}
.announce {
	display: inline-block;
	width: 100%;
	vertical-align: top;
}
	.announce__tag {
		font: italic 12px/15px Figgins Sans, Arial, sans-serif;
		margin-bottom: 7px;
	}
	@media only screen and (min-width: 621px) {
		.announce__tag {
			font-size: 16px;
			line-height: 22px;
			margin-bottom: 6px;
		}
	}

	.announce__author {
		font: 14px/18px Figgins Sans, Arial, sans-serif;
	}
	.announce__name {
		font: bold 14px/18px Figgins Sans, Arial, sans-serif;
		text-transform: uppercase;
		margin-bottom: 5px;
	}
	@media only screen and (min-width: 621px) {
		/* .announce__tag {} */
		.announce__author {
			font: 16px/22px Figgins Sans, Arial, sans-serif;
		}
		.announce__name {
			font-size: 16px;
			line-height: 22px;
			margin-bottom: 3px;
		}
	}
