.article_header {
/*	padding-top: 14px;
	padding-bottom: 14px;
*/
	background: 50% 100% no-repeat;
	background-size: cover;
	color: #fff;
	font: 0/0 a;
	text-align: center;
}
	.article_header--is_dark {
		color: #181818;
	}

	.article_header::before {
		content: '';
		height: 80px;
		display: inline-block;
		vertical-align: middle;
	}

	.article_header__name,
	.article_header__subheader {
		font: bold 17px/23px Figgins Sans, Arial, serif;
		display: inline;
	}
	.article_header__subheader {
		font-weight: normal;
	}
@media only screen and (min-width: 621px) {
	.article_header__name,
	.article_header__subheader {
		font-size: 21px;
		line-height: 29px;
	}
}
@media only screen and (min-width: 1024px) {
	.article_header::before {
		height: 60px;
	}
}
.article_header > .layout {
	display: inline-block;
	vertical-align: middle;
	width: 100%;
	text-align: left;
	position: relative;
	top: 1px;
}

.article_menu {
	padding-top: 28px;
	padding-bottom: 23px;
	// margin-bottom: 58px;
	color: #fff;
}
	.article_menu__item {
		width: 100%;
		display: inline-block;
		vertical-align: top;
		margin-bottom: 32px;
		margin-right: 0;
	}
	.article_menu__number,
	.article_menu__name,
	.article_menu__author,
	.article_menu__subheader {
		font: 14px/19px Figgins Sans, Arial, sans-serif;
	}
		.article_menu__number,
		.article_menu__name {
			font-weight: bold;
		}
		.article_menu__author {
			padding-bottom: 9.5px;
			margin-bottom: 9.5px;
			border-bottom: 1px solid currentcolor;
		}
		.article_menu__subheader {
			font-weight: normal;
			font-size: 16px;
			line-height: 22px;
		}

	@media only screen and (min-width: 350px) {
		.article_menu__item {
			width: calc(100% / 2 - 22px);
			margin-right: 22px;
		}
	}
	@media only screen and (min-width: 768px) {
		.article_menu__item {
			width: calc(100% / 4 - 22px);
		}
		.article_menu__number,
		.article_menu__name,
		.article_menu__author,
		.article_menu__subheader {
			font-size: 16px;
			line-height: 22px;
		}
	}
