.il_button {
	height: 47px;
	box-sizing: border-box;
	font: bold 16px/45px Figgins Sans, Arial, sans-serif;
	color: #181818;
	border: 3px solid currentcolor;
	background-color: #fff;
	padding: 0;
	margin: 0;
	display: inline-block;
	vertical-align: middle;
	width: 223px;
	text-transform: uppercase;
	max-width: 100%;
	cursor: pointer;
	white-space: nowrap;
	text-decoration: none;
	cursor: pointer;
	user-select: none;
	-moz-appearance: none;
	position: relative;
	margin-bottom: 22px;
	border-radius: 0;
	text-overflow: ellipsis;
}
	.il_button--transparent {
		background-color: transparent;
	}
	.il_button > .kbd_button__body {
		width: 100%;
		height: 100%;
		display: inline-block;
	}
.il_button[disabled] {
	opacity: .1;
}
.il_button::before {
	position: absolute;
	left: 100%;
	top: 3px;
	bottom: -3px;
	border-right: 1px solid currentcolor;
	content: '';
	transition: .1s transform ease-in-out 0s;
	width: 10px;
}
.il_button::after {
	position: absolute;
	right: -3px;
	height: 10px;
	top: 100%;
	left: 4px;
	border-bottom: 1px solid currentcolor;
	content: '';
	transition: .1s transform ease-in-out 0s;
}
.il_button:hover::before {
	transform: translateX(2px);
}
.il_button:hover::after {
	transform: translateY(2px);
}

.il_button--ahtung {
	width: calc(100% - 118px);
	max-width: 145px;
	background-color: #64FFDA;
	border: 0;
	height: 38px;
	max-height: 100%;
	line-height: 38px;
	font-size: 12px;
	overflow: hidden;
	padding-top: 2px;
}
@media only screen and (min-width: 620px) {
	.il_button--ahtung {
		width: 145px;
		height: 47px;
		line-height: 47px;
	}
}
.il_button--ahtung::before,
.il_button--ahtung::after,
.il_button--circle::before,
.il_button--circle::after {
	content: none;
}
.il_button--blocked {
	background-color: #fff3e0;
}

.il_button--circle {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	line-height: 32px;
	font-size: 28px;
	margin-bottom: 14px;
}