/* цикл */
.cycle {
	font-size: 0;
	position: relative;
	box-sizing: border-box;
	padding-left: 22px;
	padding-right: 22px;
	margin-bottom: -7px;
}
.cycle.ruche--separator {
	padding-bottom: 30px;
    margin-bottom: 37px;
}
.cycle__announce .announce {
	margin-bottom: 22px;
	padding-top: 5px;
}
.cycle__details {
	padding-top: 33px;
}
@media only screen and (min-width: 621px) {
	.cycle {
		padding-left: 0;
		padding-right: 0;
	}
	.cycle .announce__name {
		font-size: 22px;
		line-height: 28px;
		margin-bottom: 9px;
	}
}
@media only screen and (min-width: 1024px) {
	.cycle.ruche--separator {
		padding-bottom: 58px;
		margin-bottom: 65px;
	}
	.cycle:last-child {
		margin-bottom: 133px;
	}
	.cycle__announce,
	.cycle__details {
		display: inline-block;
		width: calc(50% - 11px);
		vertical-align: top;
	}
	.cycle .announce__tag {
		margin-bottom: 18px;
	}

	.cycle__details {
		margin-left: 22px;
		padding-top: 0;
	}

	.flexbox .cycle__body {
		display: flex;
		width: 100%;
		justify-content: space-between;
		font-size: 0;
	}
		.flexbox .cycle__announce {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
		}
	.cycle__announce .announce__author {
		font-size: 22px;
		line-height: 28px;
	}
}

.cycle__announce,
.cycle__details {
	max-width: 648px;
	margin-left: auto;
	margin-right: auto;
}
@media only screen and (min-width: 1024px) {
	.cycle__announce,
	.cycle__details {
		max-width: none;
		margin-left: 0;
		margin-right: 0;
	}
}
.cycle__text {
	font: 16px/22px Parmigiano Piccolo Light, Arial, serif;
	margin-bottom: 37px;
}

.cycle__text b,
.cycle__text strong,
.cycle__text i,
.cycle__text em {
	font-size: 19px;
	font-family: Figgins Sans, Arial, sans-serif;
}
@media only screen and (min-width: 621px) {
	.cycle__text {
		font-size: 19px;
		line-height: 28px;
	}
	.cycle__text p {
		margin-bottom: 22px;
	}
	.cycle__text b,
	.cycle__text strong,
	.cycle__text i,
	.cycle__text em {
		font-size: 21px;
	}
}
@media only screen and (min-width: 1024px) {
	.cycle__text {
		margin-bottom: 65px;
	}
}
.cycle__text a {
    border-bottom: 1px solid #d8d8d8;
}
.cycle__footer {
	text-align: center;
}
@media only screen and (min-width: 621px) {
	.cycle__footer {
		text-align: left;
	}
}

.cycle__text_small {
	font: 14px/18px Figgins Sans, Arial, sans-serif;
}
@media only screen and (min-width: 621px) {
	.cycle__text_small {
		font-size: 16px;
		line-height: 22px;
	}
}
@media only screen and (min-width: 1024px) {
	.cycle__text_small {
		padding-bottom: 33px;
	}
	.cycle--finished .cycle__text_small {
		padding-bottom: 1px;
	}
}
.cycle .icon--pinner {
	margin-right: 16px;
	vertical-align: top;
}

.cycle__note {
	font: bold 16px/22px Figgins Sans, Arial, sans-serif;
	display: inline-block;
	vertical-align: middle;
	max-width: 230px;
	margin-left: 22px;
	margin-bottom: 17px;
}
.cycle__words {
	text-align: center;
	margin-top: -3px;
}
.cycle__words_item {
	margin-bottom: 17px;
	font: bold 16px/22px Figgins Sans, Arial, sans-serif;
	display: block;
	vertical-align: baseline;
}

@media only screen and (min-width: 621px) {
	.cycle__words {
		text-align: left;
		margin-top: -15px;
		margin-bottom: -17px;
	}
	.cycle__words_item {
		font: bold 16px/45px Figgins Sans, Arial, sans-serif;
		margin-right: 44px;
		margin-bottom: 0;
		display: inline-block;
		height: 44px;
	}
	.cycle__words_item:last-child {
		margin-right: 0;
	}
}
@media only screen and (min-width: 1024px) {
	.cycle__words {
		margin-bottom: -10px;
	}
}

.hint {
	min-height: 73px;
	padding-top: 14px;
	padding-bottom: 14px;
	box-sizing: border-box;
	opacity: 0;
	visibility: hidden;
	will-change: transform, opacity, visibility;
	transition: transform .25s cubic-bezier(.05, .69, .14, 1) 0s,
				opacity .25s cubic-bezier(.05, .69, .14, 1) 0s,
				visibility 0s cubic-bezier(.05, .69, .14, 1) .25s;
	transform: translateY(-45px);
	position: fixed;
	color: #fff;
	z-index: 2;
	top: 41px;
	font: 0/0 a;
	text-align: center;
	background-image: linear-gradient(0deg, rgba(255,255,255,.4) 0px, rgba(255,255,255,.4) 7px, rgba(255,255,255,.8) 7px, rgba(255,255,255,.8) 14px, #fff 14px);
}
@media only screen and (min-width: 621px) {
	.hint {
		top: 51px;
	}
}
@media only screen and (min-width: 1024px) {
	.hint {
		top: 81px;
	}
}
.hint--dark {
	color: #181818;
}
.hint.is_shown {
	visibility: visible;
	opacity: 1;
	transform: translateY(0);
	transition-delay: 0s, 0s, 0s;
}
	.hint__photo {
		position: absolute;
		top: 14px;
		right: 0;
		bottom: 14px;
		left: 0;
		text-align: center;
		font: 0/0 a;
	}
	.hint__img {
		height: 100%;
		width: 100%;
		object-fit: cover;
	}
	.hint__text {
		display: inline-block;
		vertical-align: middle;
		position: relative;
		margin-top: 14px;
		z-index: 2;
		margin-bottom: 10px;
	}
	.hint__name {
		text-transform: uppercase;
		font: bold 16px/22px Figgins Sans, Arial, sans-serif;
		display: inline-block;
		margin-right: 22px;
	}
	.hint__subheader {
		font: 16px/22px Figgins Sans, Arial, sans-serif;
		display: inline-block;
	}