/* doc socials */
.doc_socials {
	position: absolute;
	right: 40px;
	bottom: 22px;
	z-index: 1;
}
	.doc_socials__item {
		display: inline-block;
		margin-left: 12px;
		vertical-align: middle;
	}
@media only screen and (min-width: 621px) {
	.doc_socials {
		bottom: auto;
		top: 58px;
	}
	.doc_socials__item {
		display: block;
		margin-left: 0;
		text-align: center;
		margin-bottom: 18px;
	}
		.doc_socials__item:last-child {
			margin-bottom: 0;
		}
}
@media only screen and (min-width: 1024px) {
	.doc_socials {
		right: calc((100% - 962px) / 2 + 91px);
		top: 104px;
		width: 44px;
	}
}
