.grid {
	font-size: 0;
	overflow: hidden;
}
	/*
	.grid__inner {
		margin-right: -10px;
	}
	*/
.grid__cell {
	display: inline-block;
	vertical-align: top;
	width: 100%;
	box-sizing: border-box;
}
@media only screen and (min-width: 621px) {
	.grid__inner {
		margin-right: -22px;
	}
	.grid__cell {
		margin-right: 22px;
	}
	.grid_t_full {
		width: calc(100% - 22px);
	}
	.grid_t_small {
		width: 306px;
	}
	.grid_t_double_small {
		width: 634px;
	}
}
@media only screen and (min-width: 678px) {
	.grid_tm_small {
		width: 306px;
	}
	.grid_tm_full_minus_small {
		width: calc(100% - 350px);
	}
	.grid_tm_full {
		width: calc(100% - 22px);
	}
	.grid_tm_half {
		width: calc(50% - 22px);
	}
}
@media only screen and (min-width: 722px) {
	.grid_tmi_small {
		width: 306px;
	}
	.grid_tmi_full_minus_small {
		width: calc(100% - 350px);
	}
	.grid_tmi_full {
		width: calc(100% - 22px);
	}
}
@media only screen and (min-width: 1024px) {
	.grid_d_small {
		width: 306px;
	}
	.grid_d_middle {
		width: 402px;
	}
	.grid_d_big {
		width: 634px;
	}
	.grid_d_half {
		width: 470px;
	}
	.grid_d_huge {
		width: calc(100% - 22px);
	}
	.grid_d_full_minus_small {
		width: calc(100% - 350px);
		min-width: 354px;
	}
}
@media only screen and (max-width: 620.99px) {
	.hide_m {
		display: none;
	}
}
@media only screen and (min-width: 621px) and (max-width: 677.99px) {
	.hide_t {
		display: none;
	}
}
@media only screen and (min-width: 678px) and (max-width: 721.99px) {
	.hide_tm {
		display: none;
	}
}
@media only screen and (min-width: 722px) and (max-width: 1023.99px) {
	.hide_tmi {
		display: none;
	}
}
@media only screen and (min-width: 1024px) {
	.hide_d {
		display: none;
	}
}