.main_header {
	background-color: #fff;
	z-index: 3;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
}
	.main_header::before {
		position: absolute;
		content: '';
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background-color: #fff;
		z-index: 2;
	}

	.main_header__body {
		position: relative;
		font: 0/0 a;
		box-sizing: border-box;
		height: 44px;
		background-color: #fff;
	}
		.main_header__body::before {
			display: inline-block;
			vertical-align: middle;
			content: '';
			height: 100%;
			width: 0;
		}

@media only screen and (min-width: 742px) {
	.main_header::before {
		content: none;
	}
	.main_header {
		padding-bottom: 7px;
	}
	.main_header__body {
		height: 47px;
		border-bottom: 3px solid #181818;
	}
}
@media only screen and (min-width: 1024px) {
	.main_header__body {
		height: 57px;
	}
}
.burger {
	display: inline-block;
	vertical-align: middle;
	width: 32px;
	height: 32px;
	position: relative;
	margin: 0 0 0 -5px;
	z-index: 2;
	margin-right: 10px;
	text-align: left;
}
@media only screen and (min-width: 742px) {
	.burger {
		display: none;
	}
}
	.burger .icon {
		visibility: hidden;
		opacity: 0;
		transition: visibility 0s linear .25s,
					opacity .25s ease-in-out 0s,
					transform .25s ease-in-out 0s;
		margin: 0 -100% 0 0;
		transform: rotate(45deg);
		will-change: transform, opacity, visibility;
	}
	.icon--burger {
		transform: rotate(-45deg);
	}

	.burger:not(.is_open) .icon--burger,
	.burger.is_open .icon--close {
		opacity: 1;
		visibility: visible;
		transition-delay: 0s, 0s, 0s;
		transform: rotate(0deg);
	}
	.burger .icon--close {
		margin-left: -5px;
	}
.inliberty_logo {
	width: 108px;
	height: 19px;
	display: inline-block;
	vertical-align: middle;
	position: relative;
	z-index: 2;
	margin-right: 9px;
}
	.inliberty_logo > svg {
		width: 100%;
		height: 100%;
	}
@media only screen and (min-width: 840px) {
	.inliberty_logo {
		margin-right: 51px;
	}
}
.main_nav {
	position: fixed;
	z-index: -1;
	transition: transform .25s cubic-bezier(.4, 0, 1, 1) 0s;
	will-change: transform;
	transform: translateY(-100%);
	left: 0;
	right: 0;
	margin-top: 10px;
	background-color: #fff;
	max-height: calc(100vh - 47px);
	padding-top: 19px;
    // max-height: calc(100vh - 66px);
    overflow: auto;
    padding-bottom: 10px;
}
	.main_nav::after {
		content: '';
		top: calc(100% - 10px);
		left: 10px;
		right: 10px;
		height: 7px;
		border-top: 3px solid #181818;
		position: absolute;
		background-color: #fff;
	}
	@media only screen and (min-width: 742px) {
		.main_nav::after {
			content: none;
		}
	}
	.main_nav__list {
		padding: 0 10px;
		visibility: hidden;
		transition: visibility 0s linear .25s;
	}
	.main_nav.is_active .main_nav__list {
		visibility: visible;
		transition-delay: 0s;
	}
@media only screen and (min-width: 621px) {
	.main_nav::after {
		left: 22px;
		right: 22px;
	}
	.main_nav__list {
		padding: 0 22px;
	}

}
	.main_nav.is_active {
		transition-timing-function: cubic-bezier(0, 0, .2, 1);
		transform: translateY(-10px);
	}
	.main_nav__item {
		font: bold 16px/42px Figgins Sans, Arial, sans-serif;
		position: relative;
		display: block;
		height: 42px;
		box-sizing: border-box;
		text-align: center;
	}
	.main_nav__item:not(:last-child) {
		border-bottom: 1px solid #181818;
	}
	.main_nav__link {
		display: block;
		position: relative;
	}
		.main_nav__item.is_current .main_nav__link::before {
			border-bottom: 3px solid #181818;
			position: absolute;
			content: '';
			bottom: 0;
			left: 0;
			right: 0;
			max-width: 140px;
			margin-left: auto;
			margin-right: auto;
		}

	.main_nav .icon--search {
		margin-left: -32px;
	}
@media only screen and (min-width: 742px) {
	.main_nav {
		position: relative;
		display: inline-block;
		left: auto;
		right: auto;
		transform: translateY(0);
		visibility: visible;
		z-index: 0;
		vertical-align: bottom;
		margin-bottom: 0px;
		border-bottom: 0;
		padding-top: 0;
		top: 3px;
		max-height: initial;
		overflow: visible;
		margin-top: 0;
		background-color: transparent;
		padding-bottom: 0;
	}
	.main_nav__list.main_nav__list {
		padding: 0;
		visibility: visible;
	}
	.main_nav__item.main_nav__item {
		display: inline-block;
		height: 34px;
		border-bottom: 0;
		font-size: 16px;
		line-height: 1;
	}
	.main_nav__link {
		height: 100%;
		padding: 6px 6px 3px 6px;
		box-sizing: border-box;
		position: relative;
	}
		.main_nav__link:focus {
			outline: none;
		}
		.main_nav__link::before {
			content: none;
		}
		.main_nav__link::after,
		.main_nav__item.is_current .main_nav__link::after {
			content: '';
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			height: 3px;
			will-change: opacity;
			transition: opacity .15s ease-in-out .0s;
			opacity: 0;
			background-color: #fff;
		}
		.main_nav__link:hover::after,
		.main_nav__link:focus::after {
			opacity: .96;
		}
		.main_nav__item.is_current .main_nav__link::after {
			opacity: 1;
		}
}
.il_button--ahtung.il_button--ahtung {
	display: none;
}
.main_header__buy .il_button--ahtung.il_button--ahtung {
    display: inline-block;
    position: absolute;
    right: 0;
    z-index: 2;
	padding-left: 11px;
	padding-right: 11px;
}
@media only screen and (min-width: 392px) {
	.main_header__buy .il_button--ahtung.il_button--ahtung {
		right: 39px;
		padding-left: 22px;
		padding-right: 22px;
	}
	.main_nav__item_search.main_nav__item_search {
		display: none;
	}
}

@media only screen and (min-width: 790px) {
	.main_header__buy .il_button--ahtung.il_button--ahtung {
		right: 84px;
		z-index: auto;
	}
}
@media only screen and (min-width: 1024px) {
	.main_nav__item.main_nav__item {
		height: 39px;
	}
}
