.main_header {
	margin: 0 0 22px 0;
	padding-bottom: 14px;
	background-image: linear-gradient(0deg, rgba(255,255,255,.4) 0px, rgba(255,255,255,.4) 7px, rgba(255,255,255,.8) 7px, rgba(255,255,255,.8) 14px, #fff 14px);
	z-index: 3;
}
	.main_header__body {
		position: relative;
		border-bottom: 3px solid #181818;
		padding: 0;
		font: 0/0 a;
		box-sizing: border-box;
		text-align: justify;
		text-justify: distribute-all-lines;
	}
	.main_header__body::after {
		content: '';
		width: 100%;
		display: inline-block;
		vertical-align: middle;
		line-height: 0;
	}
.main_header::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 17px;
	z-index: 0;
	background-color: #fff;
}
@media only screen and (min-width: 621px) {
	.main_header::after {
		content: none;
	}
	.main_header__body {
		text-align: left;
		text-justify: auto;
	}
	.main_header__body::after {
		content: none;
	}
}
.burger {
	display: inline-block;
	vertical-align: middle;
	width: 32px;
	height: 32px;
	position: relative;
	left: -5px;
	z-index: 1;
}

.inliberty_logo {
	width: 108px;
	height: 19px;
	margin-bottom: 9px;
	margin-top: 10px;
	display: inline-block;
	vertical-align: middle;
	position: relative;
	z-index: 1;
}
	.inliberty_logo > svg {
		width: 100%;
		height: 100%;
	}
.main_header .inliberty_logo {
	left: -16px;
}
@media only screen and (min-width: 1024px) {
	.inliberty_logo {
		width: 144px;
		height: 24px;
		margin-top: 22px;
		margin-bottom: 22px;
	}
}
@media only screen and (min-width: 621px) {
	.burger {
		display: none;
	}
	.main_header .inliberty_logo {
		vertical-align: baseline;
		position: relative;
		margin-right: 15px;
		z-index: 3;
		top: 0;
		padding-top: 5px;
		padding-bottom: 5px;
		left: 0;
  	}
	.main_header.is_compact .inliberty_logo {
		vertical-align: baseline;
	}
}
@media only screen and (min-width: 1024px) {
	.main_header .inliberty_logo {
		margin-right: 57px;
	}
}
.main_header.is_compact .inliberty_logo {
	width: 108px;
	height: 19px;
	margin-bottom: 9px;
	margin-top: 10px;
}
.main_nav {
	position: relative;
	z-index: 3;
	height: 19px;
	display: none;
}
	.main_nav::before {
		content: '';
		height: 100%;
		vertical-align: baseline;
		display: inline-block;
	}
	.main_nav__list {
		display: inline-block;
		vertical-align: baseline;
	}
	.main_nav__item {
		font: bold 12px/1 Figgins Sans, Arial, sans-serif;
	}
	@media only screen and (min-width: 621px) {
		.main_nav {
			display: inline;
			position: relative;
			z-index: 3;
			height: 19px;
		}
		.main_nav__item {
			display: inline-block;
		}
		.main_nav__item:not(:last-child) {
			margin-right: 10px;
		}
	}
	@media only screen and (min-width: 1024px) {
		.main_nav {
			height: 24px;
		}

		.main_nav__item {
			font-size: 16px;
		}
		.main_nav__item:not(:last-child) {
			margin-right: 15px;
		}
	}
@media only screen and (max-width: 620.99px) {
.main_nav {
	display: block;
	visibility: hidden;
	opacity: 0;
	transform: translateY(-234px);
	will-change: transform, opacity, visibility;
	transition: transform .25s cubic-bezier(.05, .69, .14, 1) 0s,
				opacity .25s cubic-bezier(.05, .69, .14, 1) 0s,
				visibility 0s cubic-bezier(.05, .69, .14, 1) .25s;
	position: fixed;
	left: 0;
	right: 0;
	top: 38px;
	text-align: center;
	background-color: #fff;
	padding-top: 22px;
	z-index: 0;
}
.main_nav.is_active {
	visibility: visible;
	opacity: 1;
	transform: translateY(0);
	transition: transform .25s cubic-bezier(.05, .69, .14, 1) 0s,
				opacity .25s cubic-bezier(.05, .69, .14, 1) 0s,
				visibility 0s cubic-bezier(.05, .69, .14, 1) 0s;
	height: auto;
}
	.main_nav .main_nav__list {
		max-height: calc(100vh - 38px);
		display: block;
		background-color: #fff;
		overflow: auto;
		-webkit-overflow-scrolling: touch;
		border-bottom: 2px solid #181818;
	}
	.main_nav .main_nav__item {
		display: block;
		height: 42px;
		line-height: 42px;
		box-sizing: border-box;
		border-bottom: 1px solid #181818;
	}
	.main_nav__link {
		height: 100%;
		display: block;
	}
}
.main_header__search {
	z-index: 3;
	position: relative;
	display: inline-block;
	vertical-align: middle;
	width: 100%;
	margin-left: -100%;
}
	.main_header__search_field {
		font: italic 12px/23px Figgins Sans, Arial, sans-serif;
		height: 23px;
		color: #181818;
		border: 0;
		padding: 0 0 0 0;
		text-align: right;
		padding-left: 10px;
		box-sizing: border-box;
		position: absolute;
		right: 0;
		top: 14px;
		width: 32px;
		opacity: 0;
		z-index: 1;
		cursor: pointer;
		-webkit-appearance: none;
	}
	.main_header__search_field:focus {
		text-align: left;
		font-style: normal;
		width: calc(100% - 33px);
		opacity: 1;
		right: 33px;
		cursor: inherit;
	}

	@media only screen and (min-width: 680px) {
		.main_header__search_field {
			width: 70px;
			right: 33px;
			opacity: 1;
			cursor: inherit;
		}
	}
	
	@media only screen and (min-width: 621px) {
		.main_header__search__button {
			top: 30px;
		}
		.main_header__search_field {
			font-size: 16px;
			position: absolute;
			top: 34px;
			line-height: 22px;
			height: 22px;
		}
	}
@media only screen and (min-width: 621px) {
	.main_header__search_field:focus {
		width: 350px;
		max-width: calc(100% - 188px);
	}
}


.main_search__details {
	font: 0/0 a;
	text-align: right;
	padding: 0;
	position: absolute;
	height: 32px;
	right: 45px;
	top: 0;
	bottom: 0;
	margin: auto 0;
	box-sizing: border-box;
	display: none;
	color: #ccc;
}
	.main_search__details_item {
		display: inline-block;
		vertical-align: middle;
	}
.is_online .icon--user {
	fill: currentcolor;
}
.main_search__details_item--user .icon__text {
	position: relative;
	top: -6px;
}
@media only screen and (min-width: 621px) {
	.main_search__details {
		display: block;
	}
	.main_search__details_item {
		margin-left: 16px;
	}
}

@media only screen and (min-width: 1024px) {
	.main_header:not(.is_compact) .main_search__details {
		top: 4px;
	}
}
@media only screen and (min-width: 621px) {
	.main_search__details .icon--user + .icon__text {
		color: #ccc;
		position: relative;
		top: -3px;
		max-width: calc(0px + 416 * (100vw - 621px) / (1023 - 621));
		white-space: nowrap;
		text-overflow: ellipsis;
		overflow: hidden;
	}
}
@media only screen and (min-width: 1024px) {
	.main_search__details .icon--user + .icon__text {
		max-width: 240px;
		min-width: 154px;
		text-align: left;
	}
}

.main_header__buy .inliberty_logo {
	left: 0;
}
	.main_header__buy .burger,
	.main_header__buy .main_nav,
	.main_header__buy .search_form {
		display: none;
	}
.main_header .il_button--ahtung {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	margin: auto 0;
	display: none;
	z-index: 1;
}
.main_header__buy .il_button--ahtung {
	display: block;
}