.magazine {
	position: relative;
	padding: 0 22px;
	margin-bottom: 40px;
}
.magazine--separated {
	padding-bottom: 40px;
}
@media only screen and (min-width: 621px) {
	.magazine {
		margin-bottom: 38px;
	}
	.magazine--separated {
		padding-bottom: 39px;
	}
	.magazine--separated::after {
		left: 22px;
		right: 22px;
	}
}
@media only screen and (min-width: 1024px) {
	.magazine {
		margin-bottom: 62px;
	}
	.magazine--separated {
		padding-bottom: 67px;
	}
}

.magazine--separated::after {
	position: absolute;
	bottom: 0;
	left: 10px;
	right: 10px;
	max-width: 962px;
	height: 3px;
	background-color: #181818;
	content: '';
	margin: 0 auto;
}
.magazine--separated:last-child {
	padding-bottom: 0;
}
	.magazine--separated:last-child::after {
		content: none;
	}
@media only screen and (min-width: 888px) {
	.magazines_rest .magazine--separated:nth-last-child(2) {
		padding-bottom: 0;
	}
	.magazines_rest .magazine--separated:nth-last-child(2)::after {
		content: none;
	}
}

.magazines_rest {
	position: relative;
}

	.magazines_rest {
		padding-top: 40px;
	}
	.magazines_rest::before {
		position: absolute;
		top: 0;
		left: 10px;
		right: 10px;
		max-width: 962px;
		height: 3px;
		background-color: #181818;
		content: '';
		margin: 0 auto;
	}

@media only screen and (min-width: 621px) {
	.magazine_rest {
		padding-top: 39px;
	}
	.magazine_rest::before {
		left: 22px;
		right: 22px;
	}
}
@media only screen and (min-width: 1024px) {
	.magazine_rest {
		padding-top: 67px;
	}
}

.magazine a {
	color: inherit;
}
.magazine__name {
	font: bold 31px/32px Figgins Sans, Georgia, serif;
	margin-bottom: 1px;
}
	.magazine--small .magazine__name {
		font: bold 17px/22px Figgins Sans, Arial, sans-serif;
	}

.magazine__subheader {
	font: 22px/27px Figgins Sans, Georgia, serif;
	margin-bottom: 21px;
}
.magazine__photo {
	height: 140px;
	position: relative;
	margin-bottom: 21px;
	background-repeat: repeat-x;
	background-position: 50% 50%;
	background-size: auto 100%;
	margin-left: calc(-50vw + 50%);
	margin-right: calc(-50vw + 50%);
}
	.magazine--small .magazine__photo {
		margin-left: calc(-50vw + 50%);
		margin-right: calc(-50vw + 50%);
	}
	.magazine__poster {
		height: 100%;
		display: block;
		margin: 0 auto;
	}
.magazine__intro {
	font: 17px/25px Parmigiano Piccolo Light, Georgia, serif;
	/* margin-bottom: 18px;*/
}
	.magazine--small .magazine__intro {
		font: 15px/22px Parmigiano Piccolo Light, Georgia, serif;
	}
.magazine__author {
	margin-top: 18px;
	font: 14px/18px Figgins Sans, Georgia, serif;
}
.magazine__header,
.magazine__text_frame {
	max-width: 650px;
	margin-left: auto;
	margin-right: auto;
}

@media only screen and (min-width: 621px) {
	.magazine {
		padding-left: 0;
		padding-right: 0;
	}
	.magazine__tag {
		text-align: left;
	}
	.magazine__name {
		font: bold 70px/74px Figgins Sans, Georgia, serif;
		margin-bottom: 1px;
	}
	.magazine__subheader {
		font: 28px/32px Figgins Sans, Arial, sans-serif;
		margin-bottom: 21px;
	}

	.magazine--small .magazine__name {
		font-size: 40px;
		line-height: 42px;
	}
	.magazine--small .magazine__subheader {
		font-size: 22px;
		line-height: 27px;
	}
	.magazine__photo {
		height: 210px;
	}
	.magazine__intro {
		font: 24px/32px Parmigiano Piccolo Light, Georgia, serif;
		/* margin-bottom: 18px; */
	}
	.magazine--small .magazine__intro {
		font-size: 16px;
	}
	.magazine__author {
		font: 16px/22px Figgins Sans, Arial, sans-serif;
	}
}
@media only screen and (min-width: 1024px) {
	.magazine__tag {
		float: left;
		width: 135px;
		margin-left: -156px;
		margin-top: 24px;
	}
		.magazine__tag .tag {
			width: 100%;
		}
	.magazine--small .magazine__tag {
		float: none;
		margin-left: 0;
		margin-top: 0;
	}
	.magazine__name {
		display: inline-block;
	}
	.magazine__header {
		margin-bottom: 27px;
	}
	.magazine--small .magazine__intro {
		font-size: 19px;
		line-height: 28px;
	}
}
@media only screen and (min-width: 1280px) {
	.magazine__photo {
		height: 16.40625vw;
	}
}
@media only screen and (min-width: 1600px) {
	.magazine__photo {
		height: 263px;
	}
}
.magazines_rest {
	font: 0/0 a;
	text-align: justify;
	text-justify: distribute-all-lines;
	max-width: 1006px;
	margin-left: auto;
	margin-right: auto;
}
	.magazines_rest::after {
		width: 100%;
		display: inline-block;
		height: 0;
		content: '';
	}
	.flexbox .magazines_rest {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		text-align: left;
	}
	.flexbox .magazines_rest::after {
		content: none;
	}

.magazine--small {
	width: 100%;
	text-align: left;
}


@media only screen and (min-width: 888px) {
	.magazine--small .magazine__photo {
		margin-left: 0;
		margin-right: 0;
	}
	.magazine--small {
		width: 446px;
	}
	.magazine--small:nth-child(2n-1) {
		margin-right: -22px;
	}
}
