/* person announce */
.person {
	border: 3px solid #181818;
	position: relative;
}
	/* уголок */
	.person::before {
		position: absolute;
		bottom: -3px;
		right: -3px;
		content: '';
		border-top: 63px solid #181818; 
		border-right: 63px solid #fff;
	}
	.person::after {
		position: absolute;
		bottom: 4px;
		right: 4px;
		content: '';
		border-top: 53px solid #fff;
		border-right: 53px solid transparent;
	}
	/* уголок end */
.person__name {
	font: 40px/42px Figgins Sans, Arial, sans-serif;
}
/* person announce end */

/* person header */
.person_header {
	margin-top: 48px;
	width: 326px;
	max-width: 100%;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 58px;
}
@media only screen and (min-width: 621px) {
	.person_header {
		width: 350px;
	}
}
.person_header__photo {
	display: inline-block;
	width: 100%;
}
	.person_header__img {
		max-width: 100%;
	}
.person_header__name {
	border-top: 3px solid #181818;
	margin-top: 3px;
	padding-top: 1em;
	font: 28px/1 Figgins Sans, Arial, sans-serif;
	display: inline-block;
	min-width: 100%;
}
/* person header end */

/* person footer */
.person_footer {
	margin-top: 42px;
	margin-bottom: 42px;
	padding-top: 28px;
	text-align: right;
	border-top: 3px solid #181818;
	position: relative;
	font-size: 0;
}
.person_footer--no_cap {
	border-top: 0;
	margin-top: -42px;
}

.person_footer__text {
	font: italic 16px/1 Figgins Sans, Arial, sans-serif;
	display: inline-block;
	vertical-align: top;
	margin-right: 22px;
}
.person_footer .inliberty_logo {
	margin: 0;
	vertical-align: top;
}
/* person footer end */
.person_column {
	padding: 45px 22px 50px 22px;
	margin-top: 42px;
	margin-bottom: 42px;
}
.person_column__text {
	font: 28px/32px Figgins Sans, Arial, sans-serif;
}
.person_column__text a {
	font-weight: bold;
}
@media only screen and (min-width: 621px) {
	.person_column__text {
		font-size: 40px;
		line-height: 42px;
	}
}
@media only screen and (min-width: 1024px) {
	.person_footer {
		margin-top: 70px;
		margin-bottom: 70px;
	}
	.person_column {
		margin-top: 70px;
		margin-bottom: 70px;
	}
	.person_footer--no_cap {
		margin-top: -70px;
	}
}
