/* person announce */
.person {
	border: 3px solid #181818;
	position: relative;
}
	/* уголок */
	.person::before {
		position: absolute;
		bottom: -3px;
		right: -3px;
		content: '';
		border-top: 63px solid #181818; 
		border-right: 63px solid #fff;
	}
	.person::after {
		position: absolute;
		bottom: 4px;
		right: 4px;
		content: '';
		border-top: 53px solid #fff;
		border-right: 53px solid transparent;
	}
	/* уголок end */
.person__name {
	font: 40px/42px Figgins Sans, Arial, sans-serif;
}
/* person announce end */

/* person header */
.person_header {
	text-align: center;
	padding-top: 22px;
	/* margin-bottom: 78px; */
	-webkit-transition: opacity .25s ease-in-out 0s,
				visibility 0s linear .25s,
				-webkit-transform .25s ease-in-out 0s;
	transition: opacity .25s ease-in-out 0s,
				visibility 0s linear .25s,
				-webkit-transform .25s ease-in-out 0s;
	-o-transition: transform .25s ease-in-out 0s,
				opacity .25s ease-in-out 0s,
				visibility 0s linear .25s;
	transition: transform .25s ease-in-out 0s,
				opacity .25s ease-in-out 0s,
				visibility 0s linear .25s;
	transition: transform .25s ease-in-out 0s,
				opacity .25s ease-in-out 0s,
				visibility 0s linear .25s,
				-webkit-transform .25s ease-in-out 0s;
	will-change: opacity, visibility, transform;
	background-color: #fff;
	-webkit-transform: translateY(-100%);
	    -ms-transform: translateY(-100%);
	        transform: translateY(-100%);
	opacity: 0;
	visibility: hidden;
	padding-bottom: 14px;
	background-image: -webkit-linear-gradient(bottom, rgba(255,255,255,0) 0px, rgba(255,255,255,0) 8px, rgba(255,255,255,.8) 8px, #fff 8px);
	background-image: -o-linear-gradient(bottom, rgba(255,255,255,0) 0px, rgba(255,255,255,0) 8px, rgba(255,255,255,.8) 8px, #fff 8px);
	background-image: linear-gradient(to top, rgba(255,255,255,0) 0px, rgba(255,255,255,0) 8px, rgba(255,255,255,.8) 8px, #fff 8px);
	z-index: 2;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
}
	.person_header.is_visible {
		-webkit-transition-timing-function: cubic-bezier(.05, .69, .14, 1), cubic-bezier(.05, .69, .14, 1), linear;
		     -o-transition-timing-function: cubic-bezier(.05, .69, .14, 1), cubic-bezier(.05, .69, .14, 1), linear;
		        transition-timing-function: cubic-bezier(.05, .69, .14, 1), cubic-bezier(.05, .69, .14, 1), linear;
		-webkit-transition-delay: 0s, 0s, 0s;
		     -o-transition-delay: 0s, 0s, 0s;
		        transition-delay: 0s, 0s, 0s;
		-webkit-transform: translateY(0);
		    -ms-transform: translateY(0);
		        transform: translateY(0);
		visibility: visible;
		opacity: 1;
	}
@media only screen and (min-width: 1024px) {
	.person_header {
		/* margin-bottom: 106px; */
	}
}
.person_header__photo {
	display: none;
	width: 306px;
	padding-bottom: 3px;
	border-bottom: 3px solid #181818;
	max-width: 100%;
}
	@media only screen and (min-width: 1024px) {
		.person_header__photo {
			display: inline-block;
		}
	}
	.person_header__img {
		max-width: 100%;
		max-height: 118px;
	}
.person_header__name {
	font: 16px/22px Figgins Sans, Arial, sans-serif;
	padding-top: 20px;
	padding-bottom: 21px;
	border-bottom: 1px solid #d8d8d8;
}
/* person header end */

/* person footer */
.person_footer {
	margin-top: 42px;
	margin-bottom: 42px;
	padding-top: 28px;
	text-align: right;
	border-top: 3px solid #181818;
	position: relative;
	font-size: 0;
}
.person_footer--no_cap {
	border-top: 0;
	margin-top: -42px;
}

.person_footer__text {
	font: italic 16px/1 Figgins Sans, Arial, sans-serif;
	display: inline-block;
	vertical-align: top;
	margin-right: 22px;
}
.person_footer .inliberty_logo {
	margin: 0;
	vertical-align: top;
}
/* person footer end */
.person_column {
	padding: 45px 22px 50px 22px;
	margin-top: 42px;
	margin-bottom: 42px;
}
.person_column__text {
	font: 28px/32px Figgins Sans, Arial, sans-serif;
}
.person_column__text a {
	font-weight: bold;
}
@media only screen and (min-width: 621px) {
	.person_column__text {
		font-size: 40px;
		line-height: 42px;
	}
}
@media only screen and (min-width: 1024px) {
	.person_footer {
		margin-top: 70px;
		margin-bottom: 70px;
	}
	.person_column {
		margin-top: 70px;
		margin-bottom: 70px;
	}
	.person_footer--no_cap {
		margin-top: -70px;
	}
}
