.purchase {
	position: relative;
	margin: 0 auto;
}
	.purchase__header {
		position: relative;
		padding-top: 1px;
		border-bottom: 1px solid #d9d9d9;
		margin-bottom: 30px;
		padding-bottom: 13px;
	}
	@media only screen and (min-width: 621px) {
		.purchase__header {
			padding-top: 41px;
			padding-bottom: 21px;
		}
	}
	@media only screen and (min-width: 1024px) {
		.purchase__header {
			padding-top: 54px;
			margin-bottom: 70px;
			padding-bottom: 14px;
		}
	}


	.purchase__header_name {
		font: bold 31px/32px Figgins Sans, Arial, sans-serif;
	}
	@media only screen and (min-width: 621px) {
		.purchase__header_name {
			font-size: 40px;
			line-height: 42px;
		}
	}
	@media only screen and (min-width: 1024px) {
		.purchase__header_name {
			font-size: 70px;
			line-height: 74px;
		}
	}
.purchase__limiter {
	width: 360px;
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;
}
@media only screen and (min-width: 621px) {
	.purchase__limiter {
		width: 420px;
	}
}
@media only screen and (min-width: 1024px) {
	.purchase__limiter {
		width: 100%;
	}
	.purchase__form {
		width: 380px;
	}
}
@media only screen and (max-width: 1023.99px) {
	.purchase__ear {
		color: #181818;
		padding: 0;
	}
}
.purchase .course {
	margin-bottom: 0;
}
.purchase .course .ear {
	margin-bottom: 0;
}
.purchase .ear__content {
	max-width: none;
}
.purchase__price {
	position: relative;
	border-top: 1px solid #d9d9d9;
	margin-top: 20px;
	padding-top: 24px;
}
.purchase__price_value {
	font: bold 40px/42px Figgins Sans, Arial, sans-serif;
	margin-bottom: 3px;
}
.calculator {
	text-align: center;
	margin-bottom: 4px;
	width: 132px;
	position: relative;
	font: 0/0 a;
	display: inline-block;
	vertical-align: top;
}
.calculator__value {
	width: 52px;
	display: inline-block;
	vertical-align: middle;
	font: bold 28px/1 Figgins Sans, Arial, sans-serif;
	color: #181818;
}
.calculator__add,
.calculator__minus {
	margin-bottom: 0;
}

.purchase__price {
	text-align: justify;
	text-justify: distribute-all-lines;
	margin-bottom: -4px;
}
	.purchase__price::after {
		width: 100%;
		content: '';
		display: inline-block;
	}
	.purchase__price_text {
		display: inline-block;
		text-align: left;
		text-justify: auto;
		vertical-align: top;
		margin-bottom: 7px;
	}
	.purchase__price_value {
		font: bold 31px/32px Figgins Sans, Arial, sans-serif;
		margin-bottom: 4px;
	}

/* скидка */
.purchase__discount {
	position: relative;
	margin-bottom: 21px;
	padding-top: 10px;
	display: inline-block;
	text-justify: distribute-all-lines;
	text-align: left;
	width: 100%;
}
	.purchase__discount::before {
		content: '';
		width: 0;
		height: 0;
		border-left: 10px solid transparent;
		border-right: 10px solid transparent;
		border-bottom: 10px solid #64ffda;
		position: absolute;
		right: 50px;
		top: 0;
	}
	.purchase__discount_body {
		background-color: #64ffda;
		padding-top: 18px;
		padding-bottom: 16px;
		border-radius: 3px;
	}

@media screen and (min-width: 1024px) {
	.purchase__discount {
		position: absolute;
		margin-bottom: 0;
		width: 400px;
		top: 100%;
		right: 0;
		transform: translateY(-50%);
	}
	.purchase__discount::before {
		border-left: 10px solid transparent;
		border-right: 10px solid transparent;
		border-bottom: 0;
		border-top: 10px solid #64ffda;
		position: absolute;
		right: 100px;
		top: 100%;
	}
}
