.purchase {
	position: relative;
	margin: 8px auto 0 auto;
}
	.purchase__header {
		position: relative;
		padding-top: 1px;
		border-bottom: 1px solid #d9d9d9;
		margin-bottom: 30px;
		padding-bottom: 13px;
	}
	@media only screen and (min-width: 621px) {
		.purchase__header {
			padding-top: 41px;
			padding-bottom: 21px;
		}
	}
	@media only screen and (min-width: 1024px) {
		.purchase {
			margin-top: 56px;
		}
		.purchase__header {
			padding-top: 54px;
			margin-bottom: 48px;
			padding-bottom: 14px;
		}
	}
	.purchase__close {
		position: absolute;
		top: 13px;
		right: 13px;
	}

	.purchase__header_name {
		font: bold 31px/32px Figgins Sans, Arial, sans-serif;
	}
	.purchase__header_name--done {
		margin-bottom: 28px;
	}
	@media only screen and (min-width: 621px) {
		.purchase__header_name {
			font-size: 40px;
			line-height: 42px;
		}
	}
	@media only screen and (min-width: 1024px) {
		.purchase__header_name--done {
			margin-bottom: 53px;
		}
		.purchase__header_name {
			font-size: 70px;
			line-height: 74px;
		}
	}
.purchase__limiter {
	width: 360px;
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;
}
@media only screen and (min-width: 621px) {
	.purchase__limiter {
		width: 420px;
	}
}
@media only screen and (min-width: 1024px) {
	.purchase__limiter {
		width: 100%;
	}
	.purchase__course {
		/* padding-top: 22px; */
	}
	.purchase__form {
		/* width: 380px; */
		/* padding-top: 22px; */
	}
}
@media only screen and (max-width: 1023.99px) {
	.purchase__ear {
		color: #181818;
		padding: 0;
	}
}
.purchase .course {
	margin-bottom: 0;
}
.purchase .course .ear {
	margin-bottom: 0;
}
.purchase .ear__content {
	max-width: none;
}
.purchase .ear__name {
	margin-top: 22px;
	margin-bottom: 22px;
}
.purchase__ear_tag {
	font-size: 16px;
	line-height: 22px;
}

.calculator {
	text-align: center;
	margin-bottom: 4px;
	width: 132px;
	position: relative;
	font: 0/0 a;
	display: inline-block;
	vertical-align: top;
}
.calculator__value {
	width: 52px;
	display: inline-block;
	vertical-align: middle;
	font: bold 28px/1 Figgins Sans, Arial, sans-serif;
	color: #181818;
}
.calculator__add,
.calculator__minus {
	margin-bottom: 0;
}


.purchase__price {
	position: relative;
	border-top: 1px solid #d9d9d9;
	margin-top: 20px;
	padding-top: 24px;
	text-align: justify;
	text-justify: distribute-all-lines;
	margin-bottom: -4px;
}
@media screen and (min-width: 1024px) {
	.purchase__price {
		margin-top: 0;
		padding-top: 0;
		border-top: 0;
	}
}
	.purchase__price::after {
		width: 100%;
		content: '';
		display: inline-block;
	}
.purchase__price_value {
	font: bold 31px/32px Figgins Sans, Arial, sans-serif;
	margin-bottom: 4px;
}
@media screen and (min-width: 621px) {
	.purchase__price_value {
		font-size: 40px;
		line-height: 42px;
	}
}
.purchase__price_note {
	font: italic 16px/22px Figgins Sans, Arial, sans-serif;
}
@media screen and (min-width: 1024px) {
	.purchase__price_note {
		margin-bottom: 18px;
	}
}
	.purchase__price_text {
		display: inline-block;
		text-align: left;
		text-justify: auto;
		vertical-align: top;
		margin-bottom: 7px;
	}
.purchase__price_discount {
	font: italic 16px/22px Figgins Sans, Arial, sans-serif;	
	position: absolute;
	margin-top: -17px;
	text-decoration: line-through;
	opacity: 0;
	transform: translateY(50%);
	visibility: hidden;
	transition: transform .2s cubic-bezier(.05, .69, .14, 1) 0s,
				opacity .2s cubic-bezier(.05, .69, .14, 1) 0s,
				visibility 0s cubic-bezier(.05, .69, .14, 1) .2s;
	will-change: opacity, visibility, transform;
}
	.purchase__price_discount.is_shown {
		transition-delay: 0s, 0s, 0s;
		transform: translateY(0);
		visibility: visible;
		opacity: 1;
	}



/* скидка */
.purchase__discount {
	position: relative;
	margin-bottom: 23px;
	padding-top: 10px;
	display: inline-block;
	text-justify: auto;
	text-align: left;
	width: 100%;
}
	.purchase__discount::before {
		content: '';
		width: 0;
		height: 0;
		border-left: 10px solid transparent;
		border-right: 10px solid transparent;
		border-bottom: 10px solid #64ffda;
		position: absolute;
		right: 50px;
		top: 0;
	}
	.purchase__discount_body {
		background-color: #64ffda;
		padding: 18px 22px 16px 22px;
		border-radius: 3px;
		font: 16px/22px Figgins Sans, Arial, sans-serif;
	}

@media screen and (min-width: 1024px) {
	.purchase__discount {
		position: absolute;
		margin-bottom: 0;
		width: 400px;
		top: 100%;
		right: 0;
		margin-top: -45px;
	}
	.purchase__discount::before {
		border-left: 10px solid transparent;
		border-right: 10px solid transparent;
		border-bottom: 0;
		border-top: 10px solid #64ffda;
		position: absolute;
		right: 100px;
		top: 100%;
	}
}
.purchase__text {
	font: 16px/22px Figgins Sans, Arial, sans-serif;
	margin-bottom: 24px;
}
.purchase__text_done {
	font: 16px/22px Figgins Sans, Arial, sans-serif;
	margin-bottom: 22px;
}
@media screen and (min-width: 1024px) {
	.purchase__text_done {
		font-size: 18px;
		line-height: 25px;
	}
}
.purchase__text p:not(:last-child) {
	margin-bottom: 20px;
}
.purchase__promocode_text {
	font: bold 16px/22px Figgins Sans, Arial, sans-serif;
}
.purchase__promocode_text_note {
	font: italic 14px/17px Figgins Sans, Arial, sans-serif;
}

.purchase__show_promocode {
	margin-top: 12px;
	margin-bottom: 31px;
}
.purchase__big_button {
	width: 100%;
	margin-bottom: 32px;
	margin-left: auto;
	margin-right: auto;
}
.purchase__highlight {
	color: #1cc79a;
	font-style: normal;
	vertical-align: middle;
}
	.purchase__highlight a {
		font-style: italic;
		text-decoration: underline;
	}
.purchase__venue_address_highlight {
	color: #00eab5;
	font-weight: bold;
}

.purchase__promocode_done {
	margin-top: 19px;
	margin-bottom: 22px;
}
@media screen and (min-width: 1000px) {
	.purchase__promocode_done {
		margin-top: 18px;
		margin-bottom: 23px;
	}
}
.purchase__promocode_done .field__close {
	float: right;
	margin: -7px 0 5px -3px;
}

.purchase__agreed {
	font: 16px/22px Figgins Sans, Arial, sans-serif;
	font-style: italic;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 48px;
}
	.purchase__agreed a {
		border-bottom: 1px solid #d8d8d8;
	}
.purchase__venue {
	border-top: 1px solid #d9d9d9;
	margin-top: 20px;
	padding-top: 24px;
	font: 0/0 a;
	/*
	text-align: justify;
	text-justify: distribute-all-lines;
	*/
}
	.purchase__venue::after {
		width: 100%;
		content: '';
		display: inline-block;
	}
.purchase__venue .icon--pin {
	vertical-align: middle;
}
.purchase__venue .purchase__text {
	margin-bottom: 0;
}
/*
.purchase__venue_date {
	width: 150px;
	display: inline-block;
	vertical-align: top;
	box-sizing: border-box;
	text-align: left;
	text-justify: auto;
}
.purchase__venue_address {
	width: calc(100% - 172px);
	display: inline-block;
	vertical-align: top;
	box-sizing: border-box;
	text-align: left;
	text-justify: auto;
}
*/
.purchase__venue_date {
	padding-bottom: 28px;
	margin-bottom: 23px;
	border-bottom: 1px solid #d9d9d9;
}
	.purchase__venue_date .purchase__text:last-child {
		margin-bottom: 0;
	}
@media screen and (max-width: 1023.99px) {
	.purchase_separator {
		border-top: 1px solid #d9d9d9;
		margin-top: 20px;
		padding-top: 24px;
	}
}