.search_form {
	font: 0/0 a;
	padding: 0;
	position: absolute;
	z-index: 2;
	height: 32px;
	width: 32px;
	right: -6px;
	top: 0;
	bottom: 0;
	box-sizing: border-box;
	margin-top: auto;
	margin-bottom: auto;
}
	.main_header__buy .search_form {
		opacity: 0
	}
	.search_form::before {
		display: inline-block;
		width: 0;
		height: 100%;
		content: '';
		vertical-align: middle;
	}
@media only screen and (min-width: 392px) {
	.main_header__buy .search_form {
		opacity: 1;
	}
}
	.search_form.is_expanded {
		background-color: #f6f6f6;
		width: auto;
		height: 257px;
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		margin: 0;
		opacity: 1;
	}
	.search_form.is_expanded .search_form__close {
		display: block;
	}
@media only screen and (min-width: 621px) {
	.search_form {
		position: absolute;
		right: -6px;
		top: 2px;
		bottom: 0;
		margin: auto 0;
	}

	.search_form.is_expanded {
		position: absolute;
		top: 0;
		height: 44px;
		width: calc(100% - 167px);
		right: 0;
		left: auto;
		padding-right: 0;
		padding-left: 0;
		margin-left: 0;
		z-index: 3;
		margin-bottom: 0;
	}
}
@media only screen and (min-width: 742px) {
	.search_form.is_expanded {
		width: calc(100% - 123px);
	}
}
.search_form__field {
	display: inline-block;
	width: 100%;
	height: 34px;
	vertical-align: middle;
	position: relative;
	box-sizing: border-box;
}
	.search_form.is_expanded .search_form__field {
		border-bottom: 2px solid #181818;
		cursor: inherit;
	}
.search_form__input {
	width: 100%;
	height: 100%;
	border: 0;
	box-sizing: border-box;
	background-color: transparent;
	padding: 0 0 0 36px;
	font: 22px/1 Figgins Sans, Arial, sans-serif;
}
.search_form__input::-webkit-search-decoration,
.search_form__input::-webkit-search-cancel-button,
.search_form__input::-webkit-search-results-button,
.search_form__input::-webkit-search-results-decoration {
	display: none;
}
@media only screen and (min-width: 621px) {
	.search_form.is_expanded .search_form__field {
		height: 100%;
		border-bottom: 0;
	}
	.search_form.is_expanded .search_form__input {
		padding-left: 62px;
		padding-top: 4px;
	}
}
@media only screen and (min-width: 1024px) {
	.search_form {
		top: 6px;
	}
	.search_form.is_expanded {
		height: 54px;
		width: calc(100% - 130px);
		right: 0;
		left: auto;
		z-index: 3;
		margin-left: 0;
		margin-bottom: 0;
		top: 0;
	}
	.search_form.is_expanded .search_form__input {
		padding-top: 1px;
		font-size: 28px;
	}
}
.search_form__button {
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	margin: auto 0;
	height: 32px;
	width: 32px;
	z-index: 1;
}
	.search_form.is_expanded .search_form__button {
		left: 5px;
		top: -4px;
	}

.search_form .icon--search {
	padding: 5px 6px;
}

.search_form__close {
	position: absolute;
	top: 7.5px;
	right: 13.5px;
	display: none;
}

@media only screen and (min-width: 621px) {
	.search_form.is_expanded .search_form__button {
		left: 16px;
		top: 2px;
	}
	.search_form__close {
		top: 4px;
		bottom: 0;
		margin-top: auto;
		margin-bottom: auto;
	}
}
@media only screen and (min-width: 1024px) {
	.search_form.is_expanded .search_form__button {
		top: 4px;
		left: 17px;
	}
	.search_form__close {
		top: 4px;
	}
}
