/* reset */
h1,h2,h3,h4,p,ol,ul,li,figure,figcaption {
	list-style: none;
	margin: 0;
	padding: 0;
}
a {
	color: inherit;
	text-decoration: none;
}
/* reset */

html {
	font-size: 62.5%; /* assume it's 10px */
	min-height: 100%;
}
.hide {
	display: none !important;
}
.noanimation,
.noanimation * {
	transition: none !important;
	animation: none !important;
}
.ol {
	outline: 1px dashed red;
}
.ol-g {
	outline: 1px dashed green;
}
body {
	background-color: #fff;
	margin: 0;
	padding: 0;
	min-height: 100%;
	color: #181818;
	-webkit-font-smoothing: antialiased;
	padding-top: 97px;
}
@media only screen and (min-width: 1024px) {
	body {
		padding-top: 93px;
	}
}
.icon {
	display: inline-block;
	vertical-align: baseline;
	position: relative;
}
.icon--menu {
	width: 24px;
	height: 20px;
	fill: #fff;
}
.icon--arrow {
	width: 31px;
	height: 31px;
}
.icon--arrow_left {
	transform: rotate(180deg);
}
.icon--sound {
	width: 31px;
	height: 31px;
}
.icon--play {
	width: 31px;
	height: 31px;
}
.icon--text {
	width: 31px;
	height: 31px;
}
.icon--search {
	width: 20px;
	height: 22px;
	padding: 5px 6px;
	vertical-align: middle;
}
.icon--pin {
	width: 14px;
	height: 20px;
	margin-right: 15px;
}
.icon--promocode {
	width: 17px;
	height: 17px;
	margin-right: 10px;
	margin-bottom: 4px;
	vertical-align: middle;
}
.icon--logo {
	width: 108px;
	height: 19px;
	fill: #181818;
	margin-top: 2px;
}
.icon--fb,
.icon--vk,
.icon--youtube,
.icon--ig,
.icon--telegram {
	width: 40px;
	height: 40px;
}

.icon--user {
	width: 16px;
	height: 20px;
	padding: 6px 8px;

}
.icon--basket {
	width: 25px;
	height: 19px;
	padding: 8px 4px 5px 3px;
}
.icon_value {
	font: bold 10px/16px Figgins Sans, Arial, sans-serif;
	border-radius: 50%;
	background-color: #64FFDA;
	width: 15px;
	height: 15px;
	position: absolute;
	top: 0;
	right: 0;
	text-align: center;
	color: #181818;
}
.icon__text {
	font: italic 16px/1 Figgins Sans, Arial, sans-serif;
	vertical-align: baseline;
	display: inline-block;
	padding-right: 1px;
}

	.icon-shadow {
		position: relative;
		z-index: 1;
		opacity: .9647058823529412;
		display: inline-block;
		width: 44px;
		height: 44px;
		transition: all .15s cubic-bezier(0.4, 0.0, 0.2, 1) 0s;
		will-change: transform, opacity;
		opacity: .9647058823529412;
	}
	.icon-shadow::after {
		content: '';
		box-shadow: 0 4px 4px 0 rgba(0,0,0,.1784);
		position: absolute;
		top: 0;
		right: 2px;
		bottom: 4px;
		left: 2px;
		border-radius: 50%;
		z-index: -1;
		transition: transform .15s cubic-bezier(0.4, 0.0, 0.2, 1) 0s;
	}
		.icon-shadow:hover::after {
			/* transform: scale(1.1); */
			transform: translateY(-2px);
		}
	.icon-shadow:hover {
		/* transform: scale(1.1); */
		transform: translateY(-2px);
		opacity: 1;
	}
	.icon__may_zoom {
		display: inline-block;
		/*
		width: 44px;
		height: 44px;
		*/
		text-align: center;
	}
		.icon__may_zoom::before {
			height: 100%;
			width: 0;
			font: 0/0 a;
			content: '';
			display: inline-block;
			vertical-align: middle;
		}
	.icon__may_zoom > .icon {
		transition: transform .15s cubic-bezier(0.4, 0.0, 0.2, 1) 0s,
					opacity .15s cubic-bezier(0.4, 0.0, 0.2, 1) 0s;
		opacity: .9647058823529412;
		will-change: transform, opacity;

	}
	.icon__may_zoom:hover > .icon {
		/* transform: scale(1.2083); */
		/* transform: scale(1.10); */
		transform: translateY(-2px);
		opacity: 1;
	}

.icon--close {
	width: 17px;
	height: 17px;
	fill: #181818;
	padding: 7.5px;
}
.icon--burger {
	width: 22px;
	height: 18px;
	padding: 7px 5px;
}
.icon--error {
	width: 76px;
	height: 94px;
}
.icon--faq {
	width: 54px;
	height: 54px;
}
img {
	vertical-align: top;
}

.more .more-hidden {
	display: none;
}

.more-trigger {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.sticky {
	top: 0;
	position: fixed;
	left: 0;
	right: 0;
}
.csspositionsticky .sticky {
	position: -webkit-sticky;
	position: sticky;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	color: #181818;
	opacity: .3;
}
::-moz-placeholder { /* Firefox 19+ */
	color: #181818;
	opacity: .3;
}
:-ms-input-placeholder { /* IE 10+ */
	color: #181818;
	opacity: .3;
}
:-moz-placeholder { /* Firefox 18- */
	color: #181818;
	opacity: .3;
}
::placeholder {
	color: #181818;
	opacity: .3;
}

.vc::before {
	height: 100%;
	width: 0;
	content: '';
	vertical-align: middle;
	display: inline-block;
}
	.vc__item {
		vertical-align: middle;
		display: inline-block;
	}
	.vc__item--top {
		vertical-align: top;
	}
	.vc__item--full {
		width: 100%;
	}

.hc {
	text-align: justify;
	text-justify: distribute-all-lines;
}
	.hc::after {
		width: 100%;
		content: '';
		display: inline-block;
	}
	.hc > * {
		text-align: left;
		text-justify: auto;
	}

.text_centered {
	text-align: center;
}
.text_left {
	text-align: left;
}
.text_right {
	text-align: right;
}

/* font-family: "Figgins Sans Italic" */
@font-face {
    font-family: 'Figgins Sans';
    src: local('☞FigginsSans-Regular'), local('FigginsSans-Regular'),
        url('/fonts/FigginsSans-Regular.woff2') format('woff2'),
        url('/fonts/FigginsSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
   	font-display: swap;
}

@font-face {
    font-family: 'Figgins Sans';
    src: local('☞FigginsSans-Bold'), local('FigginsSans-Bold'),
        url('/fonts/FigginsSans-Bold.woff2') format('woff2'),
        url('/fonts/FigginsSans-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Figgins Sans';
    src: local('☞FigginsSans-Italic'), local('FigginsSans-Italic'),
        url('/fonts/FigginsSans-Italic.woff2') format('woff2'),
        url('/fonts/FigginsSans-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

/* font-family: "Parmigiano Piccolo Light" */

@font-face {
	font-family: "Parmigiano Piccolo Light";
	src: url("/fonts/ParmigianoPiccoloPro-Light.woff2") format("woff2"),
		 url("/fonts/ParmigianoPiccoloPro-Light.woff") format("woff");
	font-style: normal;
	font-weight: normal;
	font-display: swap;
}

@media only screen and (max-width: 620.99px) {
	.hide1 {
		display: none !important;
	}
}
@media only screen and (min-width: 621px) and (max-width: 1023.99px) {
	.hide2 {
		display: none !important;
	}
}
@media only screen and (min-width: 1024px) {
	.hide3 {
		display: none !important;
	}
}
.layout {
	padding-left: 10px;
	padding-right: 10px;
	margin-left: auto;
	margin-right: auto;
	max-width: 1006px;
	box-sizing: border-box;
}
@media only screen and (min-width: 621px) {
	.layout {
		padding-left: 22px;
		padding-right: 22px;
	}
}
.dummy {
	background-color: #b2dfff;
	width: 100%;
	height: 100%;
	text-align: center;
	padding: 26px 22px;
	margin-bottom: 42px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-size: 0;
}
.dummy::before {
	height: 100%;
	width: 0;
	content: '';
	vertical-align: middle;
	display: inline-block;
}
	.dummy__text {
		vertical-align: middle;
		display: inline-block;
	}
/* рюшки сверху */
.ruche::after {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	height: 10px;
	content: '';
	color: #fff;
	background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' height='20' width='20' viewBox='0 0 20 20'%3E%3Cpath fill='%23fff' d='M15 10c0 2.76-2.24 5-5 5s-5-2.24-5-5 2.24-5 5-5 5 2.24 5 5z'/%3E%3C/svg%3E") repeat-x 1px -10px;
}
.ruche--separator::after {
	top: auto;
	bottom: 0;
	background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' height='20' width='20' viewBox='0 0 20 20'%3E%3Cpath fill='%23f6f6f6' d='M15 10c0 2.76-2.24 5-5 5s-5-2.24-5-5 2.24-5 5-5 5 2.24 5 5z'/%3E%3C/svg%3E") repeat-x 0 -5px;
}
.ruche--topnleft::after {
	background-position: 1px -5px;
}
.ruche--topnright::after {
	background-position: 1px -10px;
}
.ruche--left::after {
	top: auto;
	right: auto;
	bottom: 0;
	width: 10px;
	height: 100%;
	background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' height='20' width='20' viewBox='0 0 20 20'%3E%3Cpath fill='%23fff' d='M15 10c0 2.76-2.24 5-5 5s-5-2.24-5-5 2.24-5 5-5 5 2.24 5 5z'/%3E%3C/svg%3E") repeat-y -10px -10px;
}
.ruche--right::after {
	top: 0;
	left: auto;
	right: 0;
	bottom: 0;
	width: 10px;
	height: 100%;
	background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' height='20' width='20' viewBox='0 0 20 20'%3E%3Cpath fill='%23fff' d='M15 10c0 2.76-2.24 5-5 5s-5-2.24-5-5 2.24-5 5-5 5 2.24 5 5z'/%3E%3C/svg%3E") repeat-y 0 -10px;
}

@media only screen and (min-width: 678px) {
	.ruche--topnleft::after {
		top: 0;
		left: -10px;
		right: auto;
		bottom: 0;
		width: 10px;
		background-repeat: repeat-y;
		height: auto;
		background-position: -5px -9px;
	}
}
@media only screen and (min-width: 678px) {
	.ruche--topnright::after {
		top: 0;
		right: -22px;
		left: auto;
		bottom: 0;
		width: 10px;
		background-repeat: repeat-y;
		height: auto;
		background-position: -5px -9px;
	}
}
.dark_blind::before {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	content: '';
	background-color: rgba(0, 0, 0, .25);
}
.fit_screen {
	overflow: hidden;
}
	.fit_screen__item {
		margin-left: calc(-50vw + 50%);
		margin-right: calc(-50vw + 50%);
	}
a:focus {
	outline-color: #64ffda;
}
.kbd_button {
	background-color: transparent;
	border: 0;
	padding: 0;
	display: inline-block;
	vertical-align: middle;
	cursor: pointer;
	margin: 0;
	border-radius: 0;
	color: inherit;
}
.kbd_button:not(button):hover:not(:focus):not(:-moz-focusring) {
	visibility: hidden;
}

:not(button):hover:not(:focus):not(:-moz-focusring) > .kbd_button__body {
	visibility: visible;
}

/* Fixing the Safari bug for `<button>`s overflow */
.kbd_button__body {
	position: relative;
}

:not(.il_button):focus > .kbd_button__body {
	box-shadow: 0 0 1px 2px #64ffda;
}

/* Removing the focus ring styles specifically for button in Firefox */
button:not(:-moz-focusring):focus > .kbd_button__body {
	box-shadow: none;
}

/* Removing default outline only after we've added our custom one */
.kbd_button:focus,
.kbd_button__body:focus {
	outline: none;
}

hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #181818;
	padding: 0;
	margin: 42px 0 41px 0;
}
@media only screen and (min-width: 1024px) {
	hr {
		margin: 70px 0 69px 0;
	}
}
.ear + hr {
	margin-top: 0;
}
/* dialog */
.dialog {
	display: none;
}

	.dialog.is_opened {
		display: block;
	}

	.dialog__window {
		position: fixed;
		top: 50%;
		left: 0;
		right: 0;
		max-width: 100%;
		max-height: 100vh;
		z-index: 10;
		overflow: auto;
		-webkit-overflow-scrolling: touch;
		transform: translateY(-50%);
		padding-top: 28px;
		padding-bottom: 28px;
		box-sizing: border-box;
	}

	.dialog__mask {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: #fff;
		opacity: .96;
		z-index: 9;
	}
.ov-h {
	overflow: hidden;
}
.no_margin.no_margin {
	margin-top: 0;
	margin-bottom: 0;
}
.stk-post {
	-webkit-hyphens: auto;
	-ms-hyphens: auto;
	hyphens: auto;
}
.no-hyphens {
	-webkit-hyphens: manual;
	-ms-hyphens: manual;
	hyphens: manual;
}
.no-hyphens-hard .stk-post {
	-webkit-hyphens: manual;
	-ms-hyphens: manual;
	hyphens: manual;
}