.event_dig {
	position: relative;
	background-position: 100% 100%;
	background-repeat: no-repeat;
	background-size: cover;
	color: #fff;
	height: 0;
	padding-bottom: 114.343163538874%;
}
	.event_dig__body {
		padding: 25px 22px;
	}
	.event_dig__content {
		max-width: 258px;
	}
@media screen and (min-width: 768px) {
	.event_dig {
		padding-bottom: 62.07512845881339%;
	}
	.event_dig__body {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
	}
}
@media screen and (min-width: 992px) {
	.event_dig__content {
		max-width: 320px;
	}
}

.event_dig__rubric {
	font: italic 14px/1.4285714286 Figgins Sans, Arial, sans-serif;
	margin-bottom: 14px;
}

.event_dig__name,
.event_dig__subheader {
	text-transform: uppercase;
	font: 18px/1.2222222222 Figgins Sans, Arial, sans-serif;
}
.event_dig__name {
	font-weight: bold;
}
@media screen and (min-width: 768px) {
	.event_dig__name,
	.event_dig__subheader {
		font-size: 22px;
		line-height: 1.181818181818182;
	}
}
@media screen and (min-width: 992px) {
	.event_dig__name,
	.event_dig__subheader {
		font-size: 28px;
		line-height: 1.142857142857143;
	}
}