.seven_dates_dig {
	position: relative;
	background-position: 100% 100%;
	background-repeat: no-repeat;
	background-size: cover;
	color: #fff;
	height: 0;
	padding-bottom: 114.4772117962466%;
}
	.seven_dates_dig__body {
		padding: 25px 22px;
	}
	.seven_dates_dig__content {
		width: 74.86338797814208%;
		min-width: 137px;
	}
@media screen and (min-width: 768px) {
	.seven_dates_dig {
		height: 0;
		padding-bottom: 127.1241830065359%;
	}
	.seven_dates_dig__body {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
	}
}

.seven_dates_dig__rubric {
	font: italic 14px/1.4285714286 Figgins Sans, Arial, sans-serif;
	margin-bottom: 14px;
}

.seven_dates_dig__name,
.seven_dates_dig__subheader {
	text-transform: uppercase;
	font: 18px/1.2222222222 Figgins Sans, Arial, sans-serif;
}
.seven_dates_dig__name {
	font-weight: bold;
}
@media screen and (min-width: 768px) {
	.seven_dates_dig__name,
	.seven_dates_dig__subheader {
		font-size: 22px;
		line-height: 1.181818181818182;
	}
}
@media screen and (min-width: 992px) {
	.seven_dates_dig__name,
	.seven_dates_dig__subheader {
		font-size: 28px;
		line-height: 1.142857142857143;
	}
}