/* font table */

.font_offset {
	margin: 0;
}
.font_offset::before,
.font_offset::after {
	content: '';
	display: block;
	height: 0;
	width: 0;
}
/* sm - 767 (747 - content): 767 - 20px(paddings) */
/* md - 768 (724 - content): 768 - 44px(paddings) */
/* big - 992 (948 - content): 992 - 44px(paddings) */
@media screen and (min-width: 768px) {
	
}

/* blog */
/* small */
.fr_28x30 {
	font: 28px/1.0714285714 Figgins Sans, Arial, sans-serif;
}
	.fr_28x30.font_offset::after {
		margin-top: -.2142857143em;
	}
	.fr_28x30.font_offset::before {
		margin-bottom: -.1428571429em;
	}

/* big */
.fr_40x42 {
	font: 40px/1.05 Figgins Sans, Arial, sans-serif;
}
	.fr_40x42.font_offset::before {
		margin-bottom: -.15em;
	}
	.fr_40x42.font_offset::after {
		margin-top: -.175em;
	}
/* blog end */

/* плашка треннинг */
.fr_i_14x20 {
	font: italic 14px/1.4285714286 Figgins Sans, Arial, sans-serif;
}
	.fr_i_14x20.font_offset::before {
		margin-bottom: -.2857142857em;
	}
	.fr_i_14x20.font_offset::after {
		margin-top: -.4285714286em;
	}
/* плашка треннинг end */

/* плашка книжной полки */
/* small */
.fr_i_14x18 {
	font: italic 14px/1.2857142857 Figgins Sans, Arial, sans-serif;
}
	.fr_i_14x18.font_offset::before {
		margin-bottom: -.2142857143em;
	}
	.fr_i_14x18.font_offset::after {
		margin-top: -.3571428571em;
	}

/* mid, big */
.fr_i_14x16 {
	font: italic 14px/1.4285714286 Figgins Sans, Arial, sans-serif;
}
	.fr_i_14x16.font_offset::before {
		margin-bottom: -.1428571429em;
	}
	.fr_i_14x16.font_offset::after {
		margin-top: -.2857142857em;
	}
/* плашка книжной полки end */

/* плашка книги */
.fr_14x22 {
	font: 14px/1.5714285714 Figgins Sans, Arial, sans-serif;
}
	.fr_14x22.font_offset::before {
		margin-bottom: -.3571428571em;
	}
	.fr_14x22.font_offset::after {
		margin-top: -.5em;
	}
/* плашка книги end */ 
     
/* заголовки: книжной полки, цикла, архива, подкаста */
/* small */
.fr_18x22 {
	font: 18px/1.2222222222 Figgins Sans, Arial, sans-serif;
}
	.fr_18x22.font_offset::before {
		margin-bottom: -.1428571429em;
	}
	.fr_18x22.font_offset::after {
		margin-top: -.2857142857em;
	}

/* middle */
.fr_22x26 {
	font: 22px/1.181818181818182 Figgins Sans, Arial, sans-serif;
}
	.fr_22x26.font_offset::before {
		margin-bottom: -.1818181818em;
	}
	.fr_22x26.font_offset::after {
		margin-top: -.2727272727em;
	}

/* big */
.fr_28x32 {
	font: 28px/1.142857142857143 Figgins Sans, Arial, sans-serif;	
}
	.fr_28x32.font_offset::before {
		margin-bottom: -.1785714286em;
	}
	.fr_28x32.font_offset::after {
		margin-top: -.25em;
	}
/* заголовки: книжной полки, цикла, архива, подкаста end */

/* заголовки: книги */
/* small */
.fr_18x22 {
	font: 18px/1.2222222222 Figgins Sans, Arial, sans-serif;
}
	.fr_18x22.font_offset::before {
		margin-bottom: -.1428571429em;
	}
	.fr_18x22.font_offset::after {
		margin-top: -.2857142857em;
	}

/* middle */
.fr_14x16 {
	font: 14px/1.4285714286 Figgins Sans, Arial, sans-serif;
}
	.fr_14x16.font_offset::before {
		margin-bottom: -.1428571429em;
	}
	.fr_14x16.font_offset::after {
		margin-top: -.2857142857em;
	}
/* big */
/* 18x22 */

/* заголовки: цикла, книги, архива, подкаста end */

/* заголовок журнала */
/* small */
.fr_36x36 {
	font: bold 36px/1 Figgins Sans, Arial, sans-serif;
}
	.fr_36x36.font_offset::before {
		margin-bottom: -.1111111111em;
	}
	.fr_36x36.font_offset::after {
		margin-top: -.1666666667em;
	}
/* middle, big */
.fr_70x68 {
	font: bold 70px/.9714285714 Figgins Sans, Arial, sans-serif;
}
	.fr_70x68.font_offset::before {
		margin-bottom: -.1142857143em;
	}
	.fr_70x68.font_offset::after {
		margin-top: -.1428571429em;
	}
/* заголовок журнала end */

/* подзаголовок журнала */
/* small */
.fr_24x28 {
	font: 24px/1.1666666667 Figgins Sans, Arial, sans-serif;
}
	.fr_24x28.font_offset::before {
		margin-bottom: -.1666666667em;
	}
	.fr_24x28.font_offset::after {
		margin-top: -.25em;
	}
/* middle, big */
/* fr_40x42 */

/* подзаголовок журнала end */


/* вводка журнала */
/* small */
.fr_19x28 {
	font: 19px/1.4736842105 Parmigiano Piccolo Light, Georgia, serif;
}
	.fr_19x28.font_offset::before {
		margin-bottom: -.3684210526em;
	}
	.fr_19x28.font_offset::after {
		margin-top: -.4210526316em;
	}
/* middle, big */
.fr_24x32 {
	font: 19px/1.3333333333 Parmigiano Piccolo Light, Georgia, serif;
}
	.fr_24x32.font_offset::before {
		margin-bottom: -.2916666667em;
	}
	.fr_24x32.font_offset::after {
		margin-top: -.3333333333em;
	}
	
/* вводка журнала end */


